<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <%= if @current_user do %>
      <%= link to: Routes.user_settings_path(@conn, :edit) do %>
        <img src="/images/dummy-avatar.jpg" class="rounded-circle avatar-nav mr-auto">
      <% end %>
    <% else %>
      <%= link "Вход", to: Routes.user_session_path(@conn, :new), class: "nav-link" %>
    <% end %>
  </li>
</ul>
