<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>IpLab · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <div class="fixed-top">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
              <h5 class="text-white h4">Система учета вычислительной техники</h5>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/equipment">Оборудование</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categories">Категории</a>
                </li>
                <%= if @current_user do %>
                  <li class="nav-item">
                    <%= link "Выход", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "nav-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <%= render "_user_menu.html", assigns %>
          </nav>
        </div>
      </section>
    </header>
    <main role="main" class="pt-5 m-5">
      <%= @inner_content %>
    </main>
    <footer class="footer">
      <div class="container text-center">
          <span class="text-muted">Станислав Будаев &copy; 2020</span>
      </div>
    </footer>
  </body>
</html>
