<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "category-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= live_patch "Назад", to: Routes.category_index_path(@socket, :index), class: "btn btn-secondary mb-2 mr-2", role: "button" %>
  <%= submit "Сохранить", class: "btn btn-success mb-2", phx_disable_with: "Сохраняется..." %>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <%= label f, :name, "Название" %>
        </div>
        <div class="w-100 d-block d-lg-none"></div>
        <div class="col-10">
          <%= text_input f, :name, class: "form-control", placeholder: "Название категории", phx_debounce: "blur" %>
        </div>
        <%= error_tag f, :name %>
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <%= label :properties, "Параметры" %>
        </div>
        <div class="w-100 d-block d-lg-none"></div>
        <div class="col-10">
          <%= textarea f, :properties, class: "form-control", placeholder: "Параметры, через запятую", phx_debounce: "blur" %>
        </div>
        <%= error_tag f, :properties %>
      </div>
    </div>
  </div>
</form>
