<section>

  <h1>Вход</h1>

  <%= form_for @conn, Routes.user_session_path(@conn, :create), [as: :user], fn f -> %>
    <%= if @error_message do %>
      <div class="alert alert-danger">
        <p><%= @error_message %></p>
      </div>
    <% end %>

    <div class="form-group">
      <%= label f, :email %>
      <%= email_input f, :email, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label f, :password, "Пароль" %>
      <%= password_input f, :password, required: true, class: "form-control" %>
    </div>

    <div class="form-check">
      <%= checkbox f, :remember_me, class: "form-check-input" %>
      <%= label f, :remember_me, "Запомнить меня на этом компьютере на 60 дней", class: "form-check-label" %>
    </div>

    <div class="m-2">
      <%= submit "Вход", class: "btn btn-primary" %>
    </div>
  <% end %>

  <p class="m-2">
    <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Забыли пароль?", to: Routes.user_reset_password_path(@conn, :new) %>
  </p>
</section>
