<section>

  <div class="container">
    <h1>Профиль</h1>
    <div class="row">
        <div class="col jumbotron">
          <div class="container">
            <div class="row">
              <div class="col">
                <img src="/images/dummy-avatar.jpg" class="rounded-circle mr-auto">
              </div>
              <div class="col">
                <div class="container">
                  <div class="row">
                    <div class="col">
                      email: <%= @current_user.email %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col jumbotron border-right">
        <h3>Поменять email</h3>

        <%= form_for @email_changeset, Routes.user_settings_path(@conn, :update_email), fn f -> %>
          <%= if @email_changeset.action do %>
            <div class="alert alert-danger">
              <p>Упс, что-то пошло не так! Проверьте ошибки указанные ниже.</p>
            </div>
          <% end %>

          <div class="form-group">
            <%= label f, :email %>
            <%= email_input f, :email, required: true, class: "form-control" %>
            <%= error_tag f, :email %>
          </div>

          <div class="form-group">
            <%= label f, :current_password, "Текущий пароль", for: "current_password_for_email" %>
            <%= password_input f, :current_password, required: true, name: "current_password", id: "current_password_for_email", class: "form-control" %>
            <%= error_tag f, :current_password %>
          </div>

          <div>
            <%= submit "Поменять email", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="col jumbotron">
        <h3>Поменять пароль</h3>

        <%= form_for @password_changeset, Routes.user_settings_path(@conn, :update_password), fn f -> %>
          <%= if @password_changeset.action do %>
            <div class="alert alert-danger">
              <p>Упс, что-то пошло не так! Проверьте ошибки указанные ниже.</p>
            </div>
          <% end %>

          <div class="form-group">
            <%= label f, :password, "Новый пароль" %>
            <%= password_input f, :password, required: true, class: "form-control" %>
            <%= error_tag f, :password %>
          </div>

          <div class="form-group">
            <%= label f, :password_confirmation, "Подтверждение пароля" %>
            <%= password_input f, :password_confirmation, required: true, class: "form-control" %>
            <%= error_tag f, :password_confirmation %>
          </div>

          <div class="form-group">
            <%= label f, :current_password, "Текущий пароль", for: "current_password_for_password" %>
            <%= password_input f, :current_password, required: true, name: "current_password", id: "current_password_for_password", class: "form-control" %>
            <%= error_tag f, :current_password %>
          </div>

          <div>
            <%= submit "Поменять пароль", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
