<section>

  <h1>Регистрация</h1>

  <%= form_for @changeset, Routes.user_registration_path(@conn, :create), fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Упс, что-то пошло не так! Проверьте ошибки указанные ниже.</p>
      </div>
    <% end %>

    <div class="form-group">
      <%= label f, :email %>
      <%= email_input f, :email, required: true, class: "form-control" %>
      <%= error_tag f, :email %>
    </div>

    <div class="form-group">
      <%= label f, :password, "Пароль" %>
      <%= password_input f, :password, required: true, class: "form-control" %>
      <%= error_tag f, :password %>
    </div>

    <div class="m-2">
      <%= submit "Зарегистрироваться", class: "btn btn-primary" %>
    </div>
  <% end %>

  <p class="m-2">
    <%= link "Вход", to: Routes.user_session_path(@conn, :new) %> |
    <%= link "Забыли пароль?", to: Routes.user_reset_password_path(@conn, :new) %>
  </p>
</section>
