<section>

  <h1>Сброс пароля</h1>

  <%= form_for @changeset, Routes.user_reset_password_path(@conn, :update, @token), fn f -> %>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Упс, что-то пошло не так! Проверьте ошибки указанные ниже.</p>
      </div>
    <% end %>

    <div class="form-group">
      <%= label f, :password, "Новый пароль" %>
      <%= password_input f, :password, required: true, class: "form-control" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= label f, :password_confirmation, "Подтверждение пароля" %>
      <%= password_input f, :password_confirmation, required: true, class: "form-control" %>
      <%= error_tag f, :password_confirmation %>
    </div>

    <div class="m-2">
      <%= submit "Сохранить", class: "btn btn-primary" %>
    </div>
  <% end %>

  <p class="m-2">
    <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Вход", to: Routes.user_session_path(@conn, :new) %>
  </p>
</section>
