<section>

  <h1>Забыли пароль?</h1>

  <%= form_for :user, Routes.user_reset_password_path(@conn, :create), fn f -> %>
    <div class="form-group">
      <%= label f, :email %>
      <%= email_input f, :email, required: true, class: "form-control" %>
    </div>

    <div class="m-2">
      <%= submit "Отправить инструкции для сброса пароля", class: "btn btn-primary" %>
    </div>
  <% end %>

  <p class="m-2">
    <%= link "Регистрация", to: Routes.user_registration_path(@conn, :new) %> |
    <%= link "Вход", to: Routes.user_session_path(@conn, :new) %>
  </p>
</div>
